     :focus {
        outline: 0;
    }
     .vp-button {
        height: 25px;
        width: 25px;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
        background-color: black;
        width: 25px;
        height: 25px;
    }
    .vp-buttons-container {
        display: flex;
        align-items: stretch;
        background-color: black;
    }
   .vp-screen {
      display: flex;
      flex-direction: column;
      background: #000000;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      width: 800px;
      height: 600px;
    }
    .vp-video-container {
        flex-grow: 2;
    }
    .vp-separator {
        flex-grow: 4;
    }
    .vp-dot {
      height: 10px;
      width: 10px;
      background-color: red;
      border-radius: 50%;
      display: flex;
      border-style: solid;
      border-width: 3px;
      border-left-width: 2px;
      border-right-width: 2px;
      border-color: white;
      margin-bottom: -4px;
      margin-left: -4px;
      margin-top: auto;
    }
    .vp-slider-container {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      background-color: black;
      margin-top: 5px;
    }
    .vp-progress-slider{
          background-color: red;
          width: 100%;
          height: 5px;
          border-radius: 10%;
          border-style: solid;
          margin-top: 4px;
}